# Домашнее задание к лекции "Базовые понятия статистики"

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе описания его столбцов и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

In [1]:
# импортируем программную библиотеку на языке Python для обработки и анализа данных
import pandas as pd

In [2]:
# загружаем датасет о лошадях, предварительно переименовав столбцы и убрав ?
col_names = ['surgery', 'Age', 'Hospital_Number', 'rectal_temperature', 'pulse', 'respiratory_rate', 'temperature_of_extremities', 'peripheral_pulse', 'mucous_membranes', 'capillary_refill_time', 'pain', 'peristalsis', 'abdominal_distension', 'nasogastric_tube', 'nasogastric_reflux', 'nasogastric_reflux_PH', 'rectal_examination_feces', 'abdomen', 'packed_cell_volume', 'total_protein', 'abdominocentesis_appearance', 'abdomcentesis_total_protein', 'outcome', 'surgical_lesion?', '25_type_of_lesion', '26_type_of_lesion', '27_type_of_lesion', 'cp_data']
df = pd.read_csv('horse_data.csv', header=None, na_values='?', usecols=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27], names=col_names)
df.head()

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,...,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion?,25_type_of_lesion,26_type_of_lesion,27_type_of_lesion,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [3]:
# рассчитаем статистические метрики для всего датасета
df.describe()

,surgery,Age,Hospital_Number,rectal_temperature,pulse,respiratory_rate,temperature_of_extremities,peripheral_pulse,mucous_membranes,capillary_refill_time,...,packed_cell_volume,total_protein,abdominocentesis_appearance,abdomcentesis_total_protein,outcome,surgical_lesion?,25_type_of_lesion,26_type_of_lesion,27_type_of_lesion,cp_data
count,299.000000,300.000000,3.000000e+02,240.000000,276.000000,242.000000,244.000000,231.000000,253.000000,268.000000,...,271.000000,267.000000,135.000000,102.000000,299.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.397993,1.640000,1.085889e+06,38.167917,71.913043,30.417355,2.348361,2.017316,2.853755,1.305970,...,46.295203,24.456929,2.037037,3.019608,1.551839,1.363333,3657.880000,90.226667,7.363333,1.670000
std,0.490305,2.173972,1.529801e+06,0.732289,28.630557,17.642231,1.045054,1.042428,1.620294,0.477629,...,10.419335,27.475009,0.804905,1.968567,0.737187,0.481763,5399.513513,649.569234,127.536674,0.470998
min,1.000000,1.000000,5.184760e+05,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000,1.000000,...,23.000000,3.300000,1.000000,0.100000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,1.000000,1.000000,5.289040e+05,37.800000,48.000000,18.500000,1.000000,1.000000,1.000000,1.000000,...,38.000000,6.500000,1.000000,2.000000,1.000000,1.000000,2111.750000,0.000000,0.000000,1.000000
50%,1.000000,1.000000,5.303055e+05,38.200000,64.000000,24.500000,3.000000,2.000000,3.000000,1.000000,...,45.000000,7.500000,2.000000,2.250000,1.000000,1.000000,2673.500000,0.000000,0.000000,2.000000
75%,2.000000,1.000000,5.347275e+05,38.500000,88.000000,36.000000,3.000000,3.000000,4.000000,2.000000,...,52.000000,57.000000,3.000000,3.900000,2.000000,2.000000,3209.000000,0.000000,0.000000,2.000000
max,2.000000,9.000000,5.305629e+06,40.800000,184.000000,96.000000,4.000000,4.000000,6.000000,3.000000,...,75.000000,89.000000,3.000000,10.100000,3.000000,2.000000,41110.000000,7111.000000,2209.000000,2.000000

In [4]:
# посмотрим % пропусков в данных
for col in df.columns:
    pct_missing = df[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

surgery - 0.3%
Age - 0.0%
Hospital_Number - 0.0%
rectal_temperature - 20.0%
pulse - 8.0%
respiratory_rate - 19.3%
temperature_of_extremities - 18.7%
peripheral_pulse - 23.0%
mucous_membranes - 15.7%
capillary_refill_time - 10.7%
pain - 18.3%
peristalsis - 14.7%
abdominal_distension - 18.7%
nasogastric_tube - 34.7%
nasogastric_reflux - 35.3%
nasogastric_reflux_PH - 82.3%
rectal_examination_feces - 34.0%
abdomen - 39.3%
packed_cell_volume - 9.7%
total_protein - 11.0%
abdominocentesis_appearance - 55.0%
abdomcentesis_total_protein - 66.0%
outcome - 0.3%
surgical_lesion? - 0.0%
25_type_of_lesion - 0.0%
26_type_of_lesion - 0.0%
27_type_of_lesion - 0.0%
cp_data - 0.0%

In [5]:
df.Age.value_counts() # вероятно ошибка в данных (9 вместо 2)

1    276
9     24
Name: Age, dtype: int64

In [6]:
# выберем стщдицы, с которыми будем работать
df_horse = df[['surgery', 'Age', 'Hospital_Number', 'rectal_temperature', 'pulse', 'temperature_of_extremities', 'total_protein', 'outcome']]
df_horse

,surgery,Age,Hospital_Number,rectal_temperature,pulse,temperature_of_extremities,total_protein,outcome
0,2.0,1,530101,38.5,66.0,3.0,8.4,2.0
1,1.0,1,534817,39.2,88.0,NaN,85.0,3.0
2,2.0,1,530334,38.3,40.0,1.0,6.7,1.0
3,1.0,9,5290409,39.1,164.0,4.0,7.2,2.0
4,2.0,1,530255,37.3,104.0,NaN,7.4,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,533886,NaN,120.0,4.0,65.0,3.0
296,2.0,1,527702,37.2,72.0,3.0,NaN,3.0
297,1.0,1,529386,37.5,72.0,4.0,6.8,2.0
298,1.0,1,530612,36.5,100.0,3.0,6.0,1.0
299,1.0,1,534618,37.2,40.0,NaN,62.0,3.0

Сделаем небольшые выводы.

- Возможная ошибка в возрасте лошадей - можно признать выбросом.
- Большая часть - взрослые лошади, большинство были прооперированы, были повтороные обращения в больницу.
- Rectal_temperature - количественная величина, пропусков 20%, пропуски можно попытаться заполнить средним значением в зависимости от других показателей(Age, temperature_of_extremities,...).
- Pulse - количественная величина, пропусков 8%, можно попытаться заполнить средним значением в зависимости от других показателей(Age, rectal_temperature, temperature_of_extremities,...)
- Temperature_of_extremities - категориальная величина процент пропусков 18,7%, можно попытаться заполнить относительно rectal_temperature. Большинство лошадей испытывают возможный шок.
- Total protein - количественная величина, пропусков 11%. Судя по данным, большинство лошадей страдает от обезвожживания, но это может быть ошибкой ввода данных.
- Outcome - конечный показатель, более половины лошадей выжило, пропуски могут быть заполнены на основаниии всех остальных показателей.

In [7]:
# для лучшей наглядности рассчитаем статистические метрики для количественных величин
df_horse[['rectal_temperature', 'pulse', 'total_protein']].describe()

       rectal_temperature       pulse  total_protein
count          240.000000  276.000000     267.000000
mean            38.167917   71.913043      24.456929
std              0.732289   28.630557      27.475009
min             35.400000   30.000000       3.300000
25%             37.800000   48.000000       6.500000
50%             38.200000   64.000000       7.500000
75%             38.500000   88.000000      57.000000
max             40.800000  184.000000      89.000000

### Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

In [8]:
# Рассмотрим выбросы по величине rectal_temperature

q1 = df_horse.rectal_temperature.quantile(0.25)
q3 = df_horse.rectal_temperature.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)

outliers = df_horse[(df_horse.rectal_temperature > upper_bound) | (df_horse.rectal_temperature < lower_bound)].sort_values('rectal_temperature')
print(outliers)

     surgery  Age  Hospital_Number  rectal_temperature  pulse  \
44       1.0    1           535407                35.4  140.0
141      2.0    1           522979                36.0   42.0
238      2.0    1           528702                36.1   88.0
80       1.0    1           527518                36.4   98.0
118      1.0    1           533983                36.5   78.0
298      1.0    1           530612                36.5  100.0
251      2.0    1           527940                36.6   42.0
99       2.0    1           530002                39.6  108.0
75       1.0    9           534092                39.7  100.0
20       1.0    1           530157                39.9   72.0
281      2.0    1           530624                40.0   78.0
54       2.0    1           529461                40.3  114.0
91       2.0    1           529461                40.3  114.0
259      1.0    1           527734                40.8   72.0

     temperature_of_extremities  total_protein  outcome
44                          3.0           69.0      3.0
141                         NaN            6.8      2.0
238                         3.0            7.0      3.0
80                          3.0            6.4      2.0
118                         1.0           75.0      1.0
298                         3.0            6.0      1.0
251                         3.0            7.1      2.0
99                          3.0            8.0      1.0
75                          3.0           57.0      3.0
20                          1.0            6.1      1.0
281                         3.0            6.5      2.0
54                          3.0            8.1      3.0
91                          3.0            8.1      2.0
259                         3.0            7.4      2.0

In [9]:
# Рассмотрим выбросы по величине pulse

q1 = df_horse.pulse.quantile(0.25)
q3 = df_horse.pulse.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)

outliers = df_horse[df_horse.pulse.between(lower_bound, upper_bound, inclusive=True)]
print(outliers)

     surgery  Age  Hospital_Number  rectal_temperature  pulse  \
0        2.0    1           530101                38.5   66.0
1        1.0    1           534817                39.2   88.0
2        2.0    1           530334                38.3   40.0
4        2.0    1           530255                37.3  104.0
6        1.0    1           526802                37.9   48.0
..       ...  ...              ...                 ...    ...
295      1.0    1           533886                 NaN  120.0
296      2.0    1           527702                37.2   72.0
297      1.0    1           529386                37.5   72.0
298      1.0    1           530612                36.5  100.0
299      1.0    1           534618                37.2   40.0

     temperature_of_extremities  total_protein  outcome
0                           3.0            8.4      2.0
1                           NaN           85.0      3.0
2                           1.0            6.7      1.0
4                           NaN            7.4      2.0
6                           1.0            7.0      1.0
..                          ...            ...      ...
295                         4.0           65.0      3.0
296                         3.0            NaN      3.0
297                         4.0            6.8      2.0
298                         3.0            6.0      1.0
299                         NaN           62.0      3.0

[271 rows x 8 columns]

Выбросы присутствуют в данных rectal_temperature, pulse, но могут быть признаны естественными для данной выборки.

### Задание 3. Работа с пропусками

Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

In [10]:
# посмотрим % пропусков в данных
for col in df_horse.columns:
    pct_missing = df_horse[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

surgery - 0.3%
Age - 0.0%
Hospital_Number - 0.0%
rectal_temperature - 20.0%
pulse - 8.0%
temperature_of_extremities - 18.7%
total_protein - 11.0%
outcome - 0.3%

### Заполняем пропуски медианным значением в зависимости от возраста и наличия операций

In [ ]:
# df['rectal_temperature'].fillna(df.groupby(['Age', 'surgery', 'temperature_of_extremities'])['rectal_temperature'].transform('median'), inplace=True)

In [11]:
df['rectal_temperature'].fillna(df.groupby(['Age', 'surgery'])['rectal_temperature'].transform('median'), inplace=True)

In [12]:
df['temperature_of_extremities'].fillna(df.groupby(['Age', 'surgery'])['temperature_of_extremities'].transform('median'), inplace=True)

In [13]:
df['total_protein'].fillna(df.groupby(['Age', 'surgery'])['total_protein'].transform('median'), inplace=True)

In [14]:
df['pulse'].fillna(df.groupby(['Age', 'surgery'])['pulse'].transform('median'), inplace=True)

In [15]:
df_2 = df[['surgery', 'Age', 'Hospital_Number', 'rectal_temperature', 'pulse', 'temperature_of_extremities', 'total_protein', 'outcome']]
df_2.dropna(inplace=True)
df_2

<ipython-input-15-4b38d327b611>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2.dropna(inplace=True)

,surgery,Age,Hospital_Number,rectal_temperature,pulse,temperature_of_extremities,total_protein,outcome
0,2.0,1,530101,38.5,66.0,3.0,8.40,2.0
1,1.0,1,534817,39.2,88.0,3.0,85.00,3.0
2,2.0,1,530334,38.3,40.0,1.0,6.70,1.0
3,1.0,9,5290409,39.1,164.0,4.0,7.20,2.0
4,2.0,1,530255,37.3,104.0,2.0,7.40,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,533886,38.1,120.0,4.0,65.00,3.0
296,2.0,1,527702,37.2,72.0,3.0,7.45,3.0
297,1.0,1,529386,37.5,72.0,4.0,6.80,2.0
298,1.0,1,530612,36.5,100.0,3.0,6.00,1.0
299,1.0,1,534618,37.2,40.0,3.0,62.00,3.0

In [16]:
for col in df_2.columns:
    pct_missing = df_2[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

surgery - 0.0%
Age - 0.0%
Hospital_Number - 0.0%
rectal_temperature - 0.0%
pulse - 0.0%
temperature_of_extremities - 0.0%
total_protein - 0.0%
outcome - 0.0%

In [17]:
df_2[['rectal_temperature', 'pulse', 'total_protein']].describe()

       rectal_temperature       pulse  total_protein
count          299.000000  299.000000     299.000000
mean            38.167893   71.618729      22.421572
std              0.658124   28.045776      26.337255
min             35.400000   30.000000       3.300000
25%             37.900000   48.500000       6.600000
50%             38.100000   65.000000       7.500000
75%             38.500000   88.000000      52.000000
max             40.800000  184.000000      89.000000