# Домашнее задание к лекции "Библиотека Pandas"

### Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [113]:
# импортируем программную библиотеку на языке Python для обработки и анализа данных

import pandas as pd

In [114]:
movies = pd.read_csv('movies.csv')                               # загружаем датасет с названиями фильмов
ratings = pd.read_csv('ratings.csv')                             # загружаем датасет с оценками фильмов
ratings_movies = ratings.merge(movies, on='movieId', how='left') # с помощью функции merge() соединяем датасеты movies и ratings по ключу movieId
ratings_movies = ratings_movies[['movieId','rating','title']]    # выведем интеерсующие нас столбцы в датасете ratings_movies

In [115]:
# с помощью функции max() найдем максимальную оценку (в датасете это будет оценка 5.0)
max_=ratings['rating'].max()                                     

# выводим данные датасета только с максимальной оценкой
max_ratings_movies = ratings_movies[(ratings_movies ['rating'] == max_)]
max_ratings_movies.head()

   movieId  rating                        title
3       47     5.0  Seven (a.k.a. Se7en) (1995)
4       50     5.0   Usual Suspects, The (1995)
6      101     5.0         Bottle Rocket (1996)
8      151     5.0               Rob Roy (1995)
9      157     5.0        Canadian Bacon (1995)

In [116]:
# Группируем датасет по названию фильма и считаем количество фильмов по movieId 
res = max_ratings_movies.groupby('title')['movieId'].count()
res.head()

title
'Salem's Lot (2004)            1
'Til There Was You (1997)      1
'burbs, The (1989)             2
(500) Days of Summer (2009)    5
10 Cloverfield Lane (2016)     1
Name: movieId, dtype: int64

In [117]:
# сортируем значения по возрастанию, берем первый фильм и получаем фильм, по которому было выставлено больше всего оценок 5.0
res.sort_values(ascending=False).head(1)

title
Shawshank Redemption, The (1994)    153
Name: movieId, dtype: int64

### Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [118]:
# загружаем датасет
data = pd.read_csv('power.csv')
data.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [119]:
# с помощью функции sum() суммарное потребление стран Прибалтики, учитывая условия
sum_ = data.quantity[((data.country =='Lithuania')| (data.country =='Latvia')| (data.country =='Estonia')) & \
    ((data.category == 4)| (data.category == 12)| (data.category == 21)) & \
     ((data.year >= 2005) & (data.year <= 2010)) & (data.quantity > 0) ].sum()

print(f'Количество потребления для стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года равно {sum_} КВт')

Количество потребления для стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года равно 240580.0 КВт

### Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.Примеры страниц (необязательно брать именно эти): 
- https://fortrader.org/quotes
- https://www.finanz.ru/valyuty/v-realnom-vremeni

In [132]:
# выгрузим страницу произвольного сайта с табличными данными с помощью метода read_html() и обращаемся к первому элементу
data = pd.read_html('https://www.meccanismocomplesso.org/classifica-punteggio/')[0]
data.head()

   Unnamed: 0        Member  Points  Levels
0           1   BrunoOrsini    2075     NaN
1           2     Berserker     700     NaN
2           3  albertosallu     275     NaN
3           4           Jon     180     NaN
4           5          Mr.Y     180     NaN